* {
    margin: 0px;
    padding: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#logo {
    background-color: #0f0f0f;
}

.master-container {
    -webkit-transition: all 2s;
    /* Safari prior 6.1 */
    transition: all 2s;
}

.sa-input-error {
    display: none;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0 1%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: 1.25px solid rgb(0, 0, 0);
    cursor: pointer;
}

.navbar-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
}

.list {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 100%;
    text-align: center;
}

.card-container {
    height: 40%;
    margin: 2%;
    display: inline-block;
}

.item_card {
    border: 2.2px solid rgb(0, 0, 0);
    transition: 0.3s;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    font-family: "NimbusSanL";
    text-decoration: none;
}

.item_card:hover {
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
    padding: 5px;
    color: #000000;
    height: 22vh;
}

.card-cover {
    width: 100%;
    border-bottom: 1.25px solid rgb(0, 0, 0);
    object-fit: cover;
}

.item-text {
    margin: 1%;
    padding: 1.5%;
    text-align: center;
}

.buy_button {
    margin: 3.25% auto 6.75% auto;
    max-width: 250px;
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.price,
.submit {
    width: 50%;
    text-align: center;
    float: right;
    padding: 10px 0;
    position: relative;
}

.price {
    color: rgb(0, 0, 0);
    transition: all 0.3s linear;
}

.submit {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 249, 249);
    cursor: pointer;
}

.price:hover {
    background: black;
    color: white;
}

#search {
    display: inline-block;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-width: 335px) {
    .item_card {
        width: 100%;
    }
    .card-cover {
        width: 100%;
    }
    .submit {
        width: 100%;
        font-size: 12vw;
    }
    .buy_button {
        margin: 3.25% auto 6.75% auto;
        max-width: 250px;
        width: 40%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
    }
    .price {
        display: none;
    }
}